@import '../src/css-reset.css';


/* variables */
:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
    --font-size: 1.125rem;
    --ff: 'Epilogue';
    --fw: 500;
    --fw-700: 700;
}

/* TODO:
     fix nav icon sizes
     fix blur and darken background on open nav
     fix error on header.tsx(id might be null



*/

main {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    font-family: var(--ff);
    font-weight: var(--fw);
    background-color: var(--white);
    color: var(--black);
}

.blur {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    font-family: var(--ff);
    font-weight: var(--fw);
    /* background-color: black; */
    /* filter: blur(8px); */
}

header {
 
}

.div_logo {
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1rem;
}

.icon_menu {
    max-height: 1rem;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 95%;
    min-width: 15rem;
    background-color: white;
    padding-block: 1rem;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.icon-close {
    position: relative;
    left: 12rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-block: 1rem;
    padding-left: 1.5rem;
}

li {
    padding-block: 0.5rem;
}

summary {
    display: inline-block;
}

.details_open {
    position: relative;
    top: -1rem;
    left: 6rem;
}

.details_close {
    position: relative;
    top: -1rem;
    left: 6rem;
    transform: rotate(180deg);
}

.features > li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.features > li > img {
    flex-shrink: 0;
    min-width: 1.5rem;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.register {
    background-color: transparent;
    border: 0.12rem solid var(--black);
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    min-width: 80%;
    cursor: pointer;
}

section {
    padding-block: 0.5rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h2 {
    padding-block: 0.5rem;
    font-size: 2.2rem;
    font-weight: var(--fw-700);
}

p {
    padding-block: 0.5rem;
    text-align: center;
}

.learn_more {
    color: var(--white);
    background-color: var(--black);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-block: 1rem;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footer_logo {
    max-width: 18%;
}