@import '../src/css-reset.css';


/* variables */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
 
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: orange;
    min-height: 80%;
    padding-right: 8rem;
}

ul {
    list-style-type: none;
}

li {
    /* display: inline-block; */
}

section {
}

article {
    background-color: grey;
}